<div class="content-wrapper">

  <div class="side-bar">
    <%= render 'side_bar' %>
  </div>

  <div class="main-content">
    <h2 class="profile-title"><%= @user.nickname %>さんのプロフィール</h2>
    
    <% if current_user.id == @user.id%>
      <div class="button-box-top">
        <div class="button">
          <%= link_to '編集', new_profile_path %>
        </div>
      </div>
    <% end %>

    <p class="no-images" style="color:#dddddd;">No image</p>

    <div class="profile-contents">
      <h3 class="content-title">年齢 -age-</h3>
      <div class="content", id="profile_age">
        <p>未選択</p>
      </div>
    </div>
    <div class="profile-contents">
      <h3 class="content-title">職業 -job-</h3>
      <div class="content", id="profile_job">
        <p>未記入</p>
      </div>
    </div>
    <div class="profile-contents">
      <h3 class="content-title">保有資格 -skills-</h3>
      <div class="content", id="profile_skills">
        <p>未記入</p>
      </div>
    </div>
    <div class="profile-contents">
      <h3 class="content-title">住所 -address-</h3>
      <div class="content", id="profile_address">
        <p>未記入</p>
      </div>
    </div>
    <div class="profile-contents">
      <h3 class="content-title">ﾈｺ歴 -cat experience-</h3>
      <div class="content", id="profile_cat_exp">
        <p>未記入</p>
      </div>
    </div>
    <div class="profile-contents">
      <h3 class="content-title">家族構成 -family type-</h3>
      <div class="content", id="profile_family_type">
        <p>未選択</p>
      </div>
    </div>
    <div class="profile-contents">
      <h3 class="content-title">住環境 -house environment-</h3>
      <div class="content", id="profile_house_env">
        <p>未選択</p>
      </div>
    </div>
    <div class="profile-contents">
      <h3 class="content-title">わたしのﾈｺ -my cats-</h3>
      <div class="content", id="profile_my_cats">
        <p>未記入</p>
      </div>
    </div>
    <div class="profile-contents">
      <h3 class="content-title">自己紹介 -self introduction-</h3>
      <div class="content", id="profile_introduction">
        <p>未記入</p>
      </div>
    </div>

    <div class="button-box">
      <div class="button">
        <%= link_to '編集', new_profile_path %>
      </div>
      <div class="button">
        <%= link_to '一覧へ', root_path %>
      </div>
      <div class="button">
        <%= link_to '戻る', :back %>
      </div>
    </div>

  </div>
</div>