<div class="consultations">
  <%= link_to 'ダミータイトル', "#", class:"consultation-title-link" %>
  <div class="user-name">
    <%= link_to "ゆーざーねーむ", "#", class:"consultation-user-link" %>
  </div>
  <div class="answer-category">
    <div class="answers">
      <%= "●件の回答"%>
    </div>
    <div class="consultation-category">
      <%= link_to 'カテゴリー名', "#", class:"consultation-category-link" %>
    </div>
    <div class="posted-time">
      <%= "投稿日時: hoge/hoge/hoge" %>
    </div>
  </div>
</div>