<%= form_with model: @consultation, class:"form-field", local: true do |f| %>

  <%= render 'shared/errors_messages', model: @consultation %>

  <div class="form-input-field">

    <div class="cons-form-parts">
      <p class="cons-form-label">タイトル -Title-</p>
      <%= f.text_field :cons_title, class:"cons-title-input", id:"cons-title", placeholder:"相談タイトル（必須 50文字まで)", maxlength:"50" %>
    </div>

    <div class="cons-form-parts">
      <p class="cons-form-label">カテゴリー -Category-</p>
      <%= f.collection_select(:category_id, Category.all, :id, :name, { include_blank: "未選択" }, { class:"category-select-box", id:"cons-catergory" }) %>
    </div>

    <div class="cons-form-parts">
      <p class="cons-form-label">簡単に言うと？ -Summary-</p>
      <%= f.text_area :summary, class:"cons-summary-input", id:"cons-summary", placeholder:"相談の要約（必須 150文字まで)", maxlength:"150" %>
    </div>

    <div class="cons-form-parts">
      <p class="cons-form-label">状況や環境等 -Situation-</p>
      <%= f.text_area :situation, class:"cons-situation-input", id:"cons-situation", placeholder:"どんな状況？（必須 2000文字まで)", maxlength:"2000" %>
    </div>

    <div class="cons-form-parts">
      <p class="cons-form-label">問題 -Problems-</p>
      <%= f.text_area :problem, class:"cons-problem-input", id:"cons-problem", placeholder:"具体的に何を解決したい？（必須 2000文字まで)", maxlength:"2000" %>
    </div>

    <div class="image-field">
      <%#  <div id="previews"></div>  %>
      <div class="file-upload">
        <%= f.file_field :cons_image, id:"cons-image", name:'consultation[cons_image]' %>
      </div>
    </div>

  </div>

  <div class="post-btn-contents">
    <%= f.submit "送信", class:"post-btn" %>
  </div>
<% end %>