<% @reconciled_consultations.each do |consultation| %>

  <div class="consultations">

    <%= link_to consultation.cons_title, consultation_path(consultation.id), class:"consultation-title-link" %>
    
    <div class="user-name">
      <%= link_to default_profile_path(consultation.user_id), class:"consultation-user-link" do %>
        <p>by:
          <span class="user-image-index">
            <% if consultation.user.profile.present? && consultation.user.profile.user_image.attached? %>
              <%= image_tag(consultation.user.profile.user_image) %>
            <% else %>
              <%= consultation.user.nickname.slice(0) %>
            <% end %>
          </span>
          <span><%= consultation.user.nickname %></span>
        </p>
      <% end %>
    </div>

    <div class="answer-category">
      <div class="answers">
        <%= "#{consultation.answers.size}件の回答"%>
      </div>
      <div class="consultation-category">
        <%= link_to consultation.category.name, "#", class:"consultation-category-link" %>
      </div>
      <div class="posted-time">
        <%= "投稿日時: #{consultation.updated_at}" %>
      </div>
    </div>
    
  </div>

<% end %>