<div class="content-wrap">
  <div class="contents-block">

    <div class="list-title">
      <p>回答募集中 -Must be reconciled-</p>
    </div>
    <div class="content-list">

      <%= render partial: 'consultations' %>
      <%= render partial: 'consultations' %>
      <%= render partial: 'consultations' %>
      <%= render partial: 'consultations' %>
      <%= render partial: 'consultations' %>
      <%= render partial: 'consultations' %>
      <%= render partial: 'consultations' %>

    </div>
  </div>
  <div class="contents-block">
    <div class="list-title">
      <p>和解済み -Reconciled consultations-</p>
    </div>
    <div class="content-list">
      
      <%= render partial: 'consultations' %>
      <%= render partial: 'consultations' %>
      <%= render partial: 'consultations' %>
      <%= render partial: 'consultations' %>
      <%= render partial: 'consultations' %>
      <%= render partial: 'consultations' %>
      <%= render partial: 'consultations' %>

    </div>
  </div>
</div>