<div class="content-wrap">

  <div class="contents-block">
    <div class="list-title">
      <p>回答募集中 -Must be reconciled-</p>
    </div>
    <div class="content-list" id="list1">
      <% if @consultations.blank? %>
        <%= render 'sample_consultation' %>
      <% else %>
        <%= render 'consultation', collection: @consultations %>
      <% end %>
    </div>
  </div>

  <div class="contents-block">
    <div class="list-title">
      <p>
        <%= image_tag("wakaizumi-3-500px.png", alt: 'wakaizumi') %>
        和解済み -Reconciled consultations-
        <%= image_tag("wakaizumi-3-500px.png", alt: 'wakaizumi') %>
      </p>
    </div>
    <div class="content-list" id="list2">
      <% if @reconciled_consultations.blank? %>
        <%= render 'sample_consultation' %>
      <% else %>
        <%= render 'reconciled_consultation', collection: @reconciled_consultations %>
      <% end %>
    </div>
  </div>

</div>