<div class="content-wrap-s">
  <div class="main-content">

    <p class="alert"><%= alert %></p>

    <% if user_signed_in? %>
      <% if current_user.id == @consultation.user.id %>
        <p class="what-do-you-want">あなたの投稿</p>
        <div class="button-box" id="buttons1">

          <% if @consultation.reconciliation.blank? %>
            <div class="button">
              <%= link_to '編集する', edit_consultation_path(@consultation.id) %>
            </div> 

            <% if @answers.blank? && @cons_comments.blank? %>
              <div class="button">
                <%= link_to '削除する', consultation_path(@consultation.id), method: :delete, data: { confirm: '本当によろしいですか？ -Are you sure-?' }, class:"delete-btn", id:"delete_btn" %>
              </div>
            <% end %>
            <% if @answers.present? %>
              <div class="button">
                <%= link_to '和解する', new_consultation_reconciliation_path(@consultation.id) %>
              </div>
            <% end %>
          <% end %>

        </div>
      <% else %>
        <p class="what-do-you-want"><%= link_to @consultation.user.nickname, "#" %>さんの投稿</p>
        <% if @consultation.reconciliation.blank? %>
          <div class="button-box">
            <%= link_to '回答する', new_consultation_answer_path(@consultation.id) %>
          </div>
        <% end %>
      <% end %>

    <% else %>
      <p class="what-do-you-want"><%= @consultation.user.nickname %>さんの投稿</p>
    <% end %>

    <% if @consultation.reconciliation.present? %>
      <div class="icon-box">
        <p>和解済み -be reconciled!-</p>
        <%= image_tag("wakaizumi-3-500px.png", alt: 'wakaizumi') %>
      </div>
    <% end %>

    <div class="cons-title-box">
      <p><%= @consultation.cons_title %></p>
    </div>

    <div class="date-box">
      <p><%= @consultation.created_at %></p>
    </div>

    <% if @consultation.reconciliation.present? %>
      <div class="is-reconciled">
        <%# link_to image_tag(@consultation.user.profile.image), class:"cons-user-image" %>
        <p class="cons-user-nickname">相談者より</p>
        <div class="rec-text-box">
          <p><%= "#{@consultation.reconciliation.rec_text}" %>
        </div>
      </div>
    <% end %>

    <div class="category-box">
      <p>カテゴリー:</p><%= link_to @consultation.category.name, "#" %>
    </div>
    <div class="tags-box">
      <%# <p>タグ:</p><%# @consultation.tags.each do |tag|%>
    </div>

    <p class="cons-contents-box-label">-contents-</p>

    <div class="cons-contents-box">
      <div class="content-parts">
        <p class="content-label">要約するとこんな話 -summary-</p>
        <div class="content-text">
          <p><%= @consultation.summary %></p>
        </div>
      </div>

      <div class="content-parts">
        <p class="content-label">こんな状況です -situation-</p>
        <div class="content-text">
          <p><%= @consultation.situation %></p>
        </div>
      </div>

      <div class="content-parts">
        <p class="content-label">何が問題？どう解決したい？ -problem & solution-</p>
        <div class="content-text">
          <p><%= @consultation.problem %></p>
        </div>
      </div>
    </div>

    <% if @consultation.cons_image.attached? %>
      <p class="images-text" style="color:#dddddd;">image</p>
      <div class="cons-images-box">
        <%= image_tag @consultation.cons_image.variant(resize: '500x500'), class: "images" %>
      </div>
    <% else %>
      <p class="no-images" style="color:#dddddd;">No image</p>
    <% end %>
    <br>

    <% if user_signed_in? %>
      <% if current_user.id == @consultation.user.id %>

        <div class="button-box" id="buttons2">
          <% if @consultation.reconciliation.blank? %>
            <div class="button">
              <%= link_to '編集する', edit_consultation_path(@consultation.id) %>
            </div> 

            <% if @answers.blank? && @cons_comments.blank? %>
              <div class="button">
                <%= link_to '削除する', consultation_path(@consultation.id), method: :delete, data: { confirm: '本当によろしいですか？ -Are you sure-?' }, class:"delete-btn", id:"delete_btn2" %>
              </div>
            <% end %>
            <% if @answers.present? %>
              <div class="button">
                <%= link_to '和解する', new_consultation_reconciliation_path(@consultation.id) %>
              </div>
            <% end %>
          <% end %>
        </div>
      <% elsif @consultation.reconciliation.blank? %>
          <div class="button-box">
            <%= link_to '回答する', new_consultation_answer_path(@consultation.id) %>
          </div>
      <% end %>
    <% end %>

    <% if @consultation.reconciliation.present? %>
      <p style="color:white;">和解済み</p>
    <% end %>

  </div>

  <div class="sub-bar">
    <div class="sub-content-wrapper">
      <div class="sub-content-label">
        <p>Answers</p>
      </div>

      <div class="sub-content-box">
        <p><%= "#{@answers.size}件の回答" %></p>
        <% @answers.each do |answer| %>
          <%= link_to answer_path(answer.id), class:"answer-box-sub", id:"answer_box_sub_#{answer.id}" do %>
            <% if answer.review.present? %>
              <p class="ans-review">
                <% answer.review.point.times do %>
                  <%= image_tag '/assets/nikukyu-1.png', class:"review-image" %>
                <% end %>
              </p>
            <% end %>
            <p class="ans-title-sub"><%= answer.ans_title %></p>
            <p class="ans-username-sub">by: <%= answer.user.nickname %></p>
          <% end %>
        <% end%>
      </div>
    </div>

    <div class="sub-content-wrapper">
      <div class="sub-content-label">
        <p>Comments</p>
      </div>
      <div class="sub-content-box">
        
          <%= form_with model: [@consultation, @cons_comment], class:"comment-form-wrapper", id:"comment_form_wrapper" do |f| %>
            <p><strong>※コメントは取り消せません<br>※投稿者は自身のコメントに責任を持ちます</strong></p>
            <% if user_signed_in? %>
              <%= f.text_area :cons_c_text, class:"input-form", id:"cons_c_text", placeholder:"コメントを入力（150文字まで)", maxlength:"150" %>
              <div class="button-box">
                <%= f.submit '送信', class:"submit-btn" %>
              </div>
            <% else %>
              <p><strong>※コメントをするにはログインが必要です</strong></p>
            <% end %>
          <% end %>
        
        <div class="cons-comments-wrapper", id="comments">
          <p id="comment_num"><%= "#{@cons_comments.size}件のコメント" %></p>
          <% @cons_comments.each do |comment| %>
            <div class="cons-comment-box-sub">
              <p class="cons-comment-text-sub"><%= comment.cons_c_text %></p>
              <p class="cons-comment-username-sub">by: <%= link_to comment.user.nickname, "#" %></p>
              <p class="cons-comment-date-sub">__<%= comment.created_at %></p>
            </div>
          <% end %>
        </div>

      </div>

    </div>
  </div>
</div>