<header>
  <div class="header-wrap">

    <div class="icon1">
      <%= link_to image_tag("brtc-home.png", class:"brtc-icon-img"), "/" %>
    </div>
    <div class="icon2">
      <%= link_to image_tag("home.png", class:"home-icon-img"), "/" %>
    </div>

    <div class="menu-bar">
      <form class="search-form" action="#">
        <input class='input-box' placeholder='キーワードから探す'>
        <%= link_to image_tag("search.png", class:"search-icon"), "/" %>
        </button>
      </form>
      <div class="menu-buttons">
        <%= link_to 'カテゴリー', "#", class:"btn" %>
        <%= link_to '相談する', new_consultation_path, class:"btn" %>
      </div>
    </div>

    <div class="user-menu-wrap">
      <ul class="user-menu">
        <% if user_signed_in? %>
          <li class="user-image" id="user_image">
            <% if current_user.profile.blank? || current_user.profile.user_image.blank? %>
              <%= current_user.nickname.slice(0) %>
            <% else %>
              <%= image_tag current_user.profile.user_image %>
            <% end %>
            <ul class="user-menu-lists" id="hidden_list1">
              <li class="user-nickname-cell"><%= current_user.nickname %></li>
              <li><%= link_to 'マイページへ', default_profile_path(current_user.id) %></li>
              <li><%= link_to 'アカウント編集', edit_user_registration_path %></li>
              <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
            </ul>
          </ul>
        <% else %>
          <li class="user-menu-btn" id="user_menu_btn">
            <%= image_tag '/assets/nikukyu-1.png' %>
            <ul class="user-menu-lists" id="hidden_list2">
              <li><%= link_to 'ログイン', new_user_session_path %></li>
              <li><%= link_to '新規登録', new_user_registration_path %></li>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</header>