<div class="ans-s-content-wrapper">

  <div class="float-message-box" id="float_message_box">
    <p class="message-title">評価について<span class="close-btn" id="close_btn">×</span></p>
    <div class="review-menu">
      <p>評価は以下の基準で判断してください</p>
      <ul class="message-list">
        <li>文句なしの満点回答！・・・<img class="nikukyu3" src="/assets/nikukyu-3.png"></li>
        <li>まあまあ助かりました・・・<img class="nikukyu2" src="/assets/nikukyu-2.png"></li>
        <li>ちょっと助かったかも・・・<img class="nikukyu1" src="/assets/nikukyu-1.png"></li>
      </ul>
      <p>この回答の評価は？</p>
      <%= form_with model: [@answer, @review], class:"review-form-wrapper", id:"review_form_wrapper" do |f| %>
        <div class="nikukyu-field">
          <%= f.radio_button :point, 3, class:"btns" %>
          <%= f.label :point, image_tag('/assets/nikukyu-1.png'), value: 3 %>
          <%= f.radio_button :point, 2, class:"btns" %>
          <%= f.label :point, image_tag('/assets/nikukyu-1.png'), value: 2 %>
          <%= f.radio_button :point, 1, class:"btns" %>
          <%= f.label :point, image_tag('/assets/nikukyu-1.png'), value: 1 %>
          <%= f.submit '評価決定', class:"hidden-btn", id:"submit" %>
        </div>
      <% end %>
    </div>
  </div>
  
  <div class="top-content" id="top_content">

    <p class="page-title">回答詳細</p>
    <div class="review-box">
      <p class="review-num" id="review_num1">
        <% if @answer.review.present? %>
          <% @answer.review.point.times do %>
            <%= image_tag('/assets/nikukyu-1.png') %>
          <% end %>
        <% else %>
          未評価
        <% end %>
      </p>
    </div>

    <div class="button-box">
      <% if user_signed_in? && current_user.id == @consultation.user.id %>
        <div class="button">
          <p class="review-button" id="review_button1">評価する</p>
        </div>
      <% end %>
      <div class="button">
        <%= link_to '戻る', consultation_path(@consultation.id) %>
      </div>
      <div class="messages">
        <h3>info.</h3>
        <p class="message">もし回答を見てもわからないことがあったらコメントで質問してみましょう!</p>
        <% if user_signed_in? && current_user.id == @answer.user_id %>
          <p class="message">回答に訂正がある場合はコメント欄に記入しよう！</p>
        <% end %>
      </div>
    </div>

  </div>

  <div class="main-content">

    <div class="main-top-line">
      <p class="page-title">回答詳細</p>
      <div class="review-box">
        <p class="review-label">評価:</p>
        <p class="review-num" id="review_num2">
          <% if @answer.review.present? %>
            <% @answer.review.point.times do %>
              <%= image_tag('/assets/nikukyu-1.png') %>
            <% end %>
          <% else %>
            未評価
          <% end %>
        </p>
      </div>
    </div>

    <div class="answer-title-wrapper">
      <p class="answer-title-label">-TITLE-</p>
      <div class="answer-title-box">
        <p class="answer-title"><%= @answer.ans_title %></p>
      </div>
    </div>

    <div class="date-box">
      <p><%= @answer.created_at %></p>
    </div>

    <div class="answer-user-wrapper">
      <div class="answer-user-box">
        <p class="answer-user-nickname">by: <%= link_to @answer.user.nickname, "#" %></p>
      </div>
    </div>

    <div class="answer-text-wrapper">
      <p class="answer-text-label">-TEXT-</p>
      <div class="answer-text-box">
        <p class="answer-text"><%= @answer.ans_text %></p>
      </div>
    </div>

    <% if @answer.ans_image.attached? %>
      <p class="images-label" style="color:#dddddd;">image</p>
      <div class="ans-images-box">
        <%= image_tag @answer.ans_image.variant(resize: '500x500'), class: "images" %>
      </div>
    <% else %>
      <p class="no-images" style="color:#dddddd;">No image</p>
    <% end %>

    <div class="bottom-menus">
      <div class="button-box">
        <%if user_signed_in? && current_user.id == @consultation.user.id %>
          <div class="button">
            <p class="review-button" id="review_button2">評価する</p>
          </div>
        <% end %>
        <div class="button">
          <%= link_to '戻る', consultation_path(@consultation.id) %>
        </div>
      </div>
      <div class="messages">
        <h3>info.</h3>
        <p class="message">もし回答を見てもわからないことがあったらコメントで質問してみましょう!</p>
        <% if user_signed_in? && current_user.id == @answer.user_id %>
          <p class="message">回答に訂正がある場合はコメント欄に記入しよう！</p>
        <% end %>
      </div>
    </div>

  </div>

  <div class="sub-content">

    <p class="comment-menu-title">コメント</p>

    <div class="comment-menu">
      <%= form_with model: [@answer, @ans_comment], class:"comment-form-wrapper", id:"comment_form_wrapper" do |f| %>
        <p><strong>※コメントは取り消せません<br>※投稿者は自身のコメントに責任を持ちます</strong></p>
        <% if user_signed_in? %>
          <%= f.text_area :ans_c_text, class:"input-form", id:"ans_c_text", placeholder:"コメントを入力（150文字まで)", maxlength:"150" %>
          <div class="button-box">
            <%= f.submit '送信', class:"submit-btn" %>
          </div>
        <% else %>
          <p class="message"><strong>※コメントをするにはログインが必要です</strong></p>
        <% end %>
      <% end %>

      <div class="comments-list-wrapper" id="comments">
        <p id="comment_num"><%= "#{@ans_comments.size}件のコメント" %></p>
        <% @ans_comments.each do |comment| %>
          <div class="ans-comment-box">
            <p class="ans-comment-text"><%= comment.ans_c_text %></p>
            <p class="ans-comment-username">by: <%= link_to comment.user.nickname, "#" %></p>
            <p class="ans-comment-date">__<%= comment.created_at %></p>
          </div>
        <% end %>
      </div>

    </div>

  </div>

</div>